/* Typography overrides */
h1 { font-size: 3.8rem !important; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.3rem !important; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.8rem !important; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.55rem !important; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.3rem !important; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.05rem !important; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem !important; }
  h2 { font-size: 2.5rem !important; }
  h3 { font-size: 2rem !important; }
  h4 { font-size: 1.75rem !important; }
  h5 { font-size: 1.5rem !important; }
  h6 { font-size: 1.25rem !important; }
}

input:invalid {
    border: 1px solid rgb(255, 174, 174);
}

#blur {
  /* display: none; */
  background: rgba(255, 255, 255, .25);
  backdrop-filter: blur(2px);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#editorPane {
  /* display: none; */
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  width: 90%;
  max-height: 80vh;
  position: absolute;
  top: 8rem;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(54, 47, 47, 0.4);
  z-index: 2;
}

#editorNav {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#editorClose {
  float: right;
}

#bookSubmit {
  margin-top: 1rem;
  float: right;
}

